<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>{{title}}</title>

    <link rel='stylesheet' href='/assets/css/main.css' />
  </head>
  <body>
    <div id="root">
      {{{body}}}
    </div>
    <script src="/build/bundle.js"></script>
  </body>
</html>
